# Data Overview  
Before starting a ml project, we need to get a overview of data to find some general infomation.  
pivot_table is a useful func to display categories.

In [9]:
import pandas as pd
import numpy as np

age = np.array([18,17,19,20,16,22])
sex = np.array(["F","M","F","M","F","M"])
score = np.array([98,90,60,88,80,74])

df = pd.concat([pd.Series(data=age,name="age"),
                pd.Series(data=sex,name="sex"),
                pd.Series(data=score,name="score")],
                axis=1)

for col, values in df.iteritems():
    num_uniques = values.nunique()
    print ('{name}: {num_unique}'.format(name=col, num_unique=num_uniques))
    print (values.unique())
    print ('\n')

df.pivot_table("score",index="age",columns="sex",fill_value=0)

age: 6
[18 17 19 20 16 22]


sex: 2
['F' 'M']


score: 6
[98 90 60 88 80 74]

sex   F   M
age
16   80   0
17    0  90
18   98   0
19   60   0
20    0  88
22    0  74